@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial);
}

button {
  width: 100%;
}

.btn {
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: black;
}

.btn:hover {
  background-color: #333333;
}

.remove-btn {
  cursor: pointer;
  background-color: transparent;
  color: red;
}